* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
.container{
    width: 800px;
    margin: 0 auto;
}
header{
    margin: 20px 0;
}
header img{
    width: 100%;
}
h1{
    margin-bottom: 20px;
    padding: 3px 0 5px ;
    font-size: 30px;
    background-color: #b61313;
}
h1, footer p{
    text-align: center;
    color: #fff;
}
article p, .images{
    margin-bottom: 20px;
}
article img{
    border: 2px dashed #000;
}
.images{
    text-align: center;
}
.blue{
    color: blue;
}
.bolt{
    font-weight: 900;
}
.italic{
    font-style: italic;
}
footer{
    padding: 3px 0;
    font-size: 20px;
    background-color: #000;
}
